@model IEnumerable<ProyectoHospital.Models.Medico>

@{
    ViewData["Title"] = "Indice del Médico";
}

<style>


    h1 {
        color: black;
        text-shadow: 1px 1px 1px white;
    }

    table {
        color: wheat;
        background-color: white;
    }

    td {
        color: black;
    }

    th {
        color: black;
    }
</style>

<h1>Médicos</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Agregar nuevo Médico</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Especialidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Especialidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.Nombre)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
