@model IEnumerable<ProyectoHospital.Models.TurnoMedico>

@{
    ViewData["Title"] = "Agregar Turno a un Médico";
}

<style>

    h1 {
        color: black;
        text-shadow: 1px 1px 1px white;
    }
</style>

<h1 class="mt-3">Agregar Turno a un Médico</h1>

<p class="boton-centrado">
    <a asp-action="Create" class="btn btn-primary">Crear nuevo turno</a>
</p>
<table class="styled-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Medico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Turno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medico.Usuario)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Medico.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Turno.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Medico.Usuario.Nombre)
                </td>
            </tr>
        }
    </tbody>
</table>

